@{
    Layout = "_Layout";
    ViewData["Title"] = "Inicio";
}

<h1 class="h3 mb-4 text-gray-800">Bienvenido a Wilson Sport</h1>
<p>Este sistema permite gestionar la venta de ropa deportiva personalizada.</p>
